<!--<input type="text" [formControl]="control">-->
<!--&lt;!&ndash; <ng-container-->
<!--*ngIf="cardForm.get('name')?.dirty &&-->
<!--cardForm.get('name')?.touched &&-->
<!--cardForm.get('name')?.errors-->
<!--"-->
<!--&gt;-->
<!--  <div *ngIf="cardForm.get('name')?.errors?.['required']">-->
<!--    *Zorunlu Alan-->
<!--  </div>-->
<!--  <div *ngIf="cardForm.get('name')?.errors?.['minlength']">-->
<!--    Girdiğiniz isim-->
<!--    {{cardForm.get('name')?.errors?.['minlength']?.['actualLength']}}-->
<!--    karakter içermektedir, fakat minumum-->
<!--    {{cardForm.get('name')?.errors?.['minlength']?.['requiredLength']}}-->
<!--    karakter olmalıdır-->
<!--  </div>-->
<!--</ng-container> &ndash;&gt;-->
